---
import SocialIcons from "../socialIcons/socialIcons.jsx";
---

<footer class="bg-gray-950 text-white">
  <div
    class="container mx-auto flex flex-col items-center justify-between px-6 py-12 lg:flex-row lg:px-20"
  >
    <!-- Logo -->
    <a href="/" class="flex items-center">
      <h3
        class="text-[#75B7E5] text-4xl font-bold drop-shadow-[1.5px_1.5px_0_#5A0E27]"
      >
        SK
      </h3>
    </a>


    <!-- Social Media Links -->
    <div class="flex space-x-4 ">
      <SocialIcons client:visible />
    </div>
  </div>
  
  <div
    class="w-full border-t border-gray-600 py-10 text-center text-sm text-gray-400"
  >
    serhatkaya@outlook.be
  </div>
</footer>
