@keyframes gradientLava {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 100%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.project-visible {
  display: block;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.project-hidden {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.filter-btn {
  opacity: 0.4;
  transition: 0.18s ease;
}

.filter-btn.active {
  transform: scale(1.05);
  opacity: 1;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}
