@keyframes gradientLava {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 100%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.project-visible {
  display: block;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.project-hidden {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.filter-btn {
  background-color: #166666; 
  color: white;
  transition: 0.2s ease, background-color 0.2s ease;
}

.filter-btn.active {
  background-color: #5cd3d3;
  transform: scale(1.05);
  color: #7A0C2E;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
}
